mat-expansion-panel{
  width: 60%;
  margin: 0 auto;
}

mat-card{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.userInfoCard{
  width: 40%;
}

mat-panel-title{
  font-weight: bold;
  color: #e85a4f;
}

.startGameDiv{
  text-align: center;
}

.startGameButton{
  background: #e85a4f;
  color: #eae7dc;
}

.highScoreDiv > h3{
  color: #e85a4f;
}

table{
  width: 100%;
  text-align: center
}

th{
  background: #d8c3a5;
  color: #e85a4f;
  padding: 5px;
  font-size: 18px;
}

td{
  font-size: 15px;
  font-weight: bold;
}

.myScore{
  color: red;
}

.userInfoDiv{
  text-align: center;
  font-size: 20px;
}

.userInfoDiv > img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  width: 50%;
}

.userInfoDiv > span{
  font-weight: bold;
  color: #e85a4f;
}

.textDiv{
  color: #e85a4f;
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
}

/* Mobile Phones <= 768px */
@media only screen and (max-width: 768px) {
  mat-expansion-panel{
    width: 90%
  }

  /* User Info in Mobile */
  mat-card{
    width: 80%;
  }

  .textDiv{
    font-size: 15px;
  }

  .userInfoDiv{
    font-size: 15px;
  }

  .userInfoDiv > img{
    width: 60%;
  }

  /* Score Table */
  .table{
    width: 80%;
  }

  th{
    font-size: 12px;
  }

  td{
    font-size: 10px;
  }
}

