mat-card{
  width: 40%;
  margin: 20px auto;
}

mat-form-field{
  margin: 10px auto;
  display: block;
}

.questionDiv > span{
  font-weight: bold;
}

.submitButton{
  background: #eae7dc;
  color: #e85a4f;
}

/* Mobile Phones <= 768px */
@media only screen and (max-width: 768px) {

  mat-card{
    width: 80%
  }

  .submitButtonContainer{
    text-align: center;
  }
}
